include setup.py volti volti-mixer volti-remote AUTHORS README ChangeLog COPYING
recursive-include src/ *.py
recursive-include po/ *.po *.pot Makefile
recursive-include data/ *.glade *.desktop
recursive-include data/icons *
recursive-include doc/ *
